## begin ionadmin
1 91 ''
s

m horizon +0

a contact +0 +3600 91 91 10000000 1
a contact +0 +3600 91 9 10000000 1
a contact +0 +3600 9 91 10000000 1

a range +0 +3600 91 91 1
a range +0 +3600 91 9 1
a range +0 +3600 9 91 1


m production 10000000
m consumption 10000000
## end ionadmin
  
## begin ionsecadmin
1
## end ionsecadmin

## begin ltpadmin
1 32

a span 91 32 32 1400 10000 1 'udplso 35.231.54.22:1113' 300
a span 9 32 32 1400 10000 1 'udplso ipnsig.rtmoran.org:1113' 300

s 'udplsi 192.168.1.13:1113'
## end ltpadmin

## begin bpadmin
1
a scheme ipn 'ipnfw' 'ipnadminep'
a scheme imc 'imcfw' 'imcadminep'
a endpoint ipn:91.0 q
a endpoint ipn:91.1 q
a endpoint ipn:91.2 q
a endpoint ipn:91.64 q
a endpoint ipn:91.65 q

a protocol ltp 1400 100
a induct ltp 91 ltpcli

a outduct ltp 9 ltpclo
a outduct ltp 91 ltpclo

s
## end bpadmin

## begin ipnadmin
a plan 9 ltp/9
a plan 91 ltp/91

## end ipnadmin
